.container-bottom{
    background-color: rgb(29, 29, 28);
}

.restaurant-logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
}
.restaurant-logos img{
    width: 400px;
	height: 400px;
	margin: 12px;
	background-color: aliceblue;
}