html{
    scroll-behavior:smooth;
}

.container-bottom{
    background-color: rgb(29, 29, 28);
    text-align: center;
    height: 1700px;
}

.restaurant-logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
}
.restaurant-logos img{
    width: 400px;
	height: 400px;
	margin: 12px;
	background-color: aliceblue;
}

#toast-head, #curry-head{
    height: 250;
    width: 250;
    padding: 25px;
}

table{
    border-collapse: collapse;
    background-color: aliceblue;
    width: 50%;
    height: 75%;
}

th, td{
    height: 12px; 
    text-align: left;
    border-bottom: 1px solid rgb(29, 29, 28);
}

thead th{
    text-align: center;
}
.restaurant-font{
		color:#F1AC67;
		font-family: 'Arvo','微軟正黑體';
		font-size: 40px;
		text-align: center;
		height: 100px;
		padding: 30px 0px 30px 0px;
		margin: 0px 0px 50px 0px;
		background-color: rgb(37, 37, 36);
	}
.restaurant-img{
    width: 800px;
    height: 1150px;
    padding: 100px 50px 100px 50px;
}